# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
*.g.dart
*.freezed.dart

# Android
android/.gradle/
android/local.properties
android/captures/
android/gradlew
android/gradlew.bat
android/gradle/

# Credenciais
.github_token

# IDEs
.idea/
*.iml
.vscode/

# OS
.DS_Store
Thumbs.db
